
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:IBM Plex Sans;;
        }

        header {
            background-color: #263852;
            width:1348px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #head {
            border:2px solid red;
            height: 75px;
            width: 220px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
        }

        #head-content1 {
            padding-left:12px;
        }
        #head-content2 {
            padding-left: 32px;
        }

        

        #below-header {
            display: flex;
            justify-content: space-between;
            width:1320px;
            padding: 30px 34px;
        }

        #dropdown {
            width: 200px;
            height: 30px;
            font-weight:bold;
        }

        #email {
            height: 30px;
        }

        #button-subscribe {
            background-color: black;
            color: white;
            height: 30px;
            font-weight: bold;
            border:none;
        }
        
        .news-head{
            color:#263852;
            font-size:24px;
            font-family:IBM Plex Sans;
            font-weight:bold;
        }
        
        
        #horizontal-line{
            color:black;
            width:1250px;
            margin-left:35px;
            margin-right:35px;
        }
        
        #article-area{
            display:flex;
            flex-direction:column;
        }
        
        .article-area1{
            display:flex;
            justify-content:space-between;
            margin-left:30px;
            width:1100px;
            font-weight: bold;
            
        }
        .written-content{
            margin-left:20px;
        }
    .reading-button{
        width:140px;
        background-color:#d55f44;
        color:white;
        height:30px;
        border:none;
    }
    .image1{
        margin-left:7px;
        width:170px;
        height:190px;
    }
    .highlight{
        font-family:roboto;
    }
    p{
        font-family:roboto;
    }
        footer {
            height: 30px;
            width:1348px;
            background-color: #263852;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    /*RESPONSIVE DESIGN CODE*/

    /*LAPTOP*/
    @media screen and (min-width:768px){
        header,footer,#below-header{
            width:100%;
        }
        #horizontal-line{
            width:93%;
        }
        .article-area1{
            width:76%;
        }
    }

    /*TABLET*/
    @media screen and (min-width:618px) and (max-width:767px){
        header,footer,#below-header{
            width:100%;
        }
        #horizontal-line{
            width:91%;
        }
        .article-area1{
            width:76%;
        }
    }

        /*MOBILE DEVICE*/
    @media screen and (min-width:368px) and (max-width:617px){
        header,footer,#below-header{
            width:100%;
        }
        #horizontal-line{
            width:89%;
        }
        .article-area1{
            width:75%;
        }
        #below-header{
            flex-direction:column;
            justify-content: center;
            align-items:center;
        }
    }

    @media screen and (max-width:367px){
        header,footer{
            width:130%;
        }
        #horizontal-line{
            width:89%;
        }
        .article-area1{
            width:75%;
        }
        #below-header{
            width:100%;
            flex-direction:column;
            justify-content: center;
            align-items:center;
        }
    }

